* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #fff;
    background: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    margin-top: 1px;
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight .5s ease forwards;
}

.navbar {
    margin-bottom: -1px;
}

.navbar a {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 15px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .3s;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));

}

.navbar a:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;

}


section.Home {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(images/png-transparent-blue-background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.Home-container {
    max-width: 600px;
    margin-top: 70px;

}

.Home-container h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.Home-container h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s;

}

.Home-container h3 span {
    color: #0ef;
}

.Home-container h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 1;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.Home-container p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--1));
    margin: 20px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--1));
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.about-img img {
    padding-bottom: 20%;
    padding-top: 40px;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 100%;
}

.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    margin-right: 10px;
}

#services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    color: #0ef;
}

.container {
    padding: 90px;
}

.services-list {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    grid-gap: 40px;
    margin-top: 50px;
}


.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, tranform 0.5s;
    box-shadow: 1px 1px 20px #012290F7,
        1px 1px 40px #012290F7;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.Read {
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

.read:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.services-list div:hover {
    transform: translateY(-10px);
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    color: #0ef;
}

container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}


.container1 {
    width: 100%;
    height: 500px;
    padding: 75px 90px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.heading1 span{
    color: #0ef;
}

/* Professional skills bars start  */
.indfo {
    font-size: 20px;
    margin-left: 2px;
    margin-bottom: 4px;
}

.bar {
    margin-bottom: 40px;
}

i.bx.bxl-css3 {
    width: 50px;
    height: auto;
    font-size: 30px;
}

.progress-1 {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 10px;
    align-items: center;
    position: relative;
    display: flex;
    height: 15px;
    width: 600px;
  }
  
  .progress-value-1 {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 12px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 95%; }
  }

  .progress-2 {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 10px;
    align-items: center;
    position: relative;
    display: flex;
    height: 15px;
    width: 600px;
  }
  
  .progress-value-2 {
    animation: load-2 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 12px;
    width: 0;
  }

  @keyframes load-2 {
    0% { width: 0; }
    100% { width: 75%; }
  }

  .progress-3 {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 10px;
    align-items: center;
    position: relative;
    display: flex;
    height: 15px;
    width: 600px;
  }
  
  .progress-value-3 {
    animation: load-3 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 12px;
    width: 0;
  }

  @keyframes load-3 {
    0% { width: 0; }
    100% { width: 50%; }
  }

  .progress-4 {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 10px;
    align-items: center;
    position: relative;
    display: flex;
    height: 15px;
    width: 600px;
  }
  
  .progress-value-4 {
    animation: load-4 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 12px;
    width: 0;
  }

  @keyframes load-4 {
    0% { width: 0; }
    100% { width: 90%; }
  }

  .progress-5 {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 10px;
    align-items: center;
    position: relative;
    display: flex;
    height: 15px;
    width: 600px;
  }
  
  .progress-value-5 {
    animation: load-5 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 12px;
    width: 0;
  }

  @keyframes load-5 {
    0% { width: 0; }
    100% { width: 98%; }
  }

  .progress-6 {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 10px;
    align-items: center;
    position: relative;
    display: flex;
    height: 15px;
    width: 600px;
  }
  
  .progress-value-6 {
    animation: load-6 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 12px;
    width: 0;
  }

  @keyframes load-6 {
    0% { width: 0; }
    100% { width: 75%; }
  }

  /* Professional skills bars end  */

/* circle word  */

.PS-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.parent-skill {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.skill {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    /* background-color: conic-gradient(#f9004d 10%, #212428 0); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress {
    width: 97%;
    height: 97%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background: linear-gradient(280deg, #000000, #000000);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-number {
    font-family: 'Poppins', sans-serif;
    color: #0ef;
    font-size: 2rem;
}

.title {
    font-family: 'Poppins', sans-serif;
    color: #0ef;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    margin-top: 20px;
}
/* circle word  */

section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.main-text {
    padding-top: 130px;
    margin-top: 200px;
}

.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.main-text h2 span {
    color: #0ef;
}

.porfolio-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    width: 35%;
    height: auto;
    padding: 60px;
    margin: 20px;
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}

.layer i {
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}



.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a::hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.contact-icons i::hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

.contact-form form .send:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.last-text p {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 85, 91);
    margin-top: 70px;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2, 1rem;
}

.top i {
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}









@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


.box {
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    border-radius: 20px;
    transition: background 0.5s, tranform 0.5s;
    box-shadow: 1px 1px 20px #012290F7,
        1px 1px 40px #012290F7;
}

.box img {
    display: flex;
    border: 0px solid transparent;
    flex-direction: column;
    align-items: stretch;
    height: 200x;
    width: 300px;
    margin-top: 9px;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 20%;
    border-radius: 50%;
}